:root{
    --verde: rgb(55, 90, 68);
    --verdeClaro: rgb(171, 219, 188);
    --verdeSpan: rgb(193, 204, 192);
    --verdeSpanFonte: rgb(103, 119, 102);
    --cinza: rgb(235, 235, 235);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
header nav a{
    text-decoration: none;
    color: white;
}
header nav a:hover{
    transition: 0.3s;
    text-decoration:underline;
    color :var(--verdeClaro);
}

.bannerIndex{
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

.bannerIndex img{
    width: 100%;
    height: calc(100svh - 4rem);
    object-fit: cover;
}

span{
    display: flex;
    align-items: center;
    background-color: var(--verdeSpan);
    padding: 5px;
    color:var(--verdeSpanFonte);
    border: 2px solid var(--verdeSpanFonte);
    border-radius: 50px;
    height: 5rem;
    width: 20rem;
    margin-top: 5rem;
    margin-left: 2rem;
    
}
span img{
    height:4rem ;
}
.jardimM{
    display: flex;
    font-size: 2rem;
    align-items: center;
    text-align:left;
    color:rgb(0, 0, 0) ;
    justify-content: space-between;
    margin-left: 2rem;
    
}
.textoM{
    font-size: 2rem;
    margin-top: 2rem;
    max-width: 50%;
    color: black;
}
.textoM p{
    font-size: 1.5rem;
}

.imagemM{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.imagemM img{
    width: 50%;
    height: auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 4rem;
    width: 100%;
    background-color:var(--verde);
}

.divisao1{
    background-color: var(--cinza);
    height: 4rem;
    width: 100%;
    border: none;
}
.divisao2{
    background-color: var(--verde);
    height: 1rem;
    width: 100%;
    border: none;
}

.botaoS{
    background-color: var(--verde);
    height: 3.5rem;
    width: 10rem;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
.logo{
    display: flex;
    background-color: var(--cinza);
    height: 7rem;
    justify-content: center;
}

.card{
    background-color: var(--verdeSpan);
    border: 2px solid var(--verdeSpanFonte);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 20rem;
    height: 25rem;
    margin-left: 2rem;
    padding: 2rem 2rem;
}
.card img{
    height: 18rem;
    width: 16rem;
    border: 2px solid var(--verde);
}

.catalogo{
    text-align: center;
    font-size:3rem ;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.orapronobis{
    text-align: left;
    color: white;
    font-size: 1.5rem;
    width: 16rem;
}

#opnC{
    color: white;
    
}