/* =========================
   ROOT / CORES
========================= */

:root{
    --verdeMusgo: rgb(55, 90, 68); 
    --verdeMenta: rgb(171, 219, 188); 
    --verdeAcinzentado: rgb(193, 204, 192); 
    --verdeOliva: rgb(103, 119, 102);
    --verdeOlivaAcinzentado: rgb(103, 119, 102);
    --verdeNevoa: rgb(226, 238, 229);
    --cinzaGelo: rgb(235, 235, 235);
    --begeAreia: rgb(214, 196, 168);
    --terracota: rgb(181, 117, 87);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* =========================
   TAGS GERAIS
========================= */

img{
    max-width: 100%;
    height: auto;
    display: block;
}

p{
    font-size: 16px;
    text-align: center;
}

.span{
    display: flex;
    align-items: center;
    background-color: var(--verdeAcinzentado);
    padding: 5px;
    color: var(--verdeOliva);
    border: 2px solid var(--verdeOliva);
    border-radius: 50px;
    height: 5rem;
    width: 20rem;
    margin-top: 5rem;
    margin-left: 2rem;
}

span img{
    height: 4rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 4rem;
    width: 100%;
    background-color: var(--verdeMusgo);
}

ul li{
    margin: 1rem 5rem;
}

ol li{
    margin: 1rem 5rem;
}

ul li a{
    color: black;
    text-decoration: none;
}

ul li a:hover{
    transform: scale(1.05);
    text-shadow: 0 0 1px black;
}

/* =========================
   HEADER
========================= */

header nav a{
    text-decoration: none;
    color: white;
}

header nav a:hover{
    transition: 0.3s;
    text-decoration: underline;
    color: var(--verdeMenta);
}

/* =========================
   BANNERS
========================= */

.bannerIndex{
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

.bannerIndex img{
    width: 100%;
    height: calc(100svh - 4rem);
    object-fit: cover;
}

/* =========================
   SEÇÃO PRINCIPAL
========================= */

.jardimM{
    display: flex;
    font-size: 2rem;
    align-items: center;
    text-align: left;
    color: black;
    justify-content: space-between;
    margin-left: 2rem;
}

.textoM{
    font-size: 2rem;
    margin-top: 2rem;
    max-width: 50%;
    color: black;
}

.textoM p{
    font-size: 1.5rem;
    text-align: left;
}

.imagemM{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.imagemM img{
    width: 50%;
    height: auto;
}

/* =========================
   DIVISÕES
========================= */

.divisao1{
    background-color: var(--cinzaGelo);
    height: 4rem;
    width: 100%;
    border: none;
}

.divisao2{
    background-color: var(--verdeMusgo);
    height: 1rem;
    width: 100%;
    border: none;
}

.divisao3{
    background-color: var(--cinzaGelo);
    width: 100%; 
    padding: 0.1rem 2rem;       
    box-sizing: border-box;    
    border: none;
    height: auto;
}

.divisao4{
    border: none;
}

/* =========================
   BOTÕES
========================= */

.botaoS{
    background-color: var(--verdeMusgo);
    height: 3.5rem;
    width: 10rem;
    color: var(--cinzaGelo);
    border-radius: 50px;
    border: none;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}
.botaoS:hover{
    transform: scale(1.05);
    box-shadow:0 10px 10px rgba(0,0,0, 0.3) ;
}

.botaoFiltros{
    width: 16rem;
    color: var(--verdeMusgo);
}

.botaoC{
    background-color: var(--verdeMusgo);
    height: 3.5rem;
    width: 23rem;
    color: var(--cinzaGelo);
    border-radius: 50px;
    border: none;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}
.botaoC:hover{
    transform: scale(1.05);
    box-shadow:0 10px 10px rgba(0,0,0, 0.3) ;
}
.verCatalogo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.barraPesquisa button{
    border-radius: 50px;
    background-color: transparent;
    border: 3px solid var(--verdeMusgo);
    font-size: 1.3rem;
    padding: 8px;
    color: var(--verdeMusgo);
    cursor: pointer;
}

.barraPesquisa button:hover{
    transition: 0.6s;
    background-color: var(--verdeMenta);
}


.botaoR{
    background-color: var(--verdeMusgo);
    height: 3.5rem;
    width: 23rem;
    color: var(--cinzaGelo);
    border-radius: 50px;
    border: none;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}
.botaoR:hover{
    transform: scale(1.05);
    box-shadow:0 10px 10px rgba(0,0,0, 0.3) ;
}
.verReceita{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}


.botaoSAIBAMAIS{
    background-color: var(--verdeMusgo);
    height: 3.5rem;
    width: 15rem;
    color: var(--cinzaGelo);
    border-radius: 50px;
    border: none;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}
.botaoSAIBAMAIS:hover{
    transform: scale(1.05);
    box-shadow:0 10px 10px rgba(0,0,0, 0.3) ;
}
.verPostagens{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* =========================
   LOGO
========================= */

.logo{
    display: flex;
    background-color: var(--cinzaGelo);
    height: 7rem;
    justify-content: center;
}

/*============================
       TÍTULOS 
====================*/

.DescubraR{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem;
    gap: 3rem;
}
.receitas{
    text-align:start;
    font-size: 4rem;
    font-weight: 100;

}
.texto{
    flex: 1;
    max-width: 33rem;
    margin-right: 4rem;
}
.texto p{
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;

}
.textoTrio1, .textoTrio2, .textoTrio3{
    color: var(--verdeMusgo);
    text-align: center;
    font-size: 2rem;
}
.instagram{
    font-size: 3.5rem;
    text-align: center;
    margin-top: 2rem;
}

/* =========================
   CARDS
========================= */

.card{
    background-color: var(--verdeAcinzentado);
    border: 2px solid var(--verdeOliva);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 20rem;
    height: 25rem;
    margin-left: 2rem;
    padding: 2rem;
}

.card img{
    height: 18rem;
    width: 16rem;
    border: 2px solid var(--verdeMusgo);
}

/* ================================
    IMAGENS
================================ */

.trioIMG{
    display: flex;
    margin-top: 2rem;
    padding: 0 2rem 2rem 2rem;
    justify-content: space-between;
}
.img1 img, .img2 img, .img3 img{
  width: 20rem;
  height: 20rem;
}
.Instagram{
    display: flex;
    justify-content: center;
}
.Instagram img{
    width: 40rem;
    height: 40rem;
}

/* =========================
   CATÁLOGO
========================= */

.catalogo{
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.orapronobis{
    text-align: left;
    color: white;
    font-size: 1.5rem;
    width: 16rem;
}

#opnC{
    color: white;
    text-align: left;
}

/* =========================
   RECEITAS
========================= */

.inicioReceita{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    font-size: 58px;
}

.barraPesquisa{
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--verdeMusgo);
    margin: 2rem;
}

.barraPesquisa input{
    border-radius: 50px;
    border: 3px solid var(--verdeMusgo);
    width: 30rem;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

/* =========================
   POSTAGENS
========================= */

.inicioPostagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    font-size: 58px;
}

/* =========================
   SOBRE NÓS
========================= */

.inicioSobreNos{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin: 3rem;
    font-size: 58px;
} 

b{
    font-weight: bold; 
} 

.perguntas{ 
    padding: 2rem 0 1rem 4rem; 
} 

.resposta{ 
    padding: 0 4rem 0 3rem; 
    text-align: left; 
    line-height: 2rem; 
} 

.profissional{ 
    border: 4px solid var(--cinzaGelo); 
    border-radius: 50rem; 
    margin: 6rem; 
    display: flex; 
    width: 12rem; 
} 

.contato{ 
    margin: 2rem 0; 
    display: flex; 
    align-items: center; 
    background-color: var(--cinzaGelo); 
} 

.conteudo{ 
    display: flex; 
    flex-direction: column; 
    gap: 0.8rem; 

} 

/* =========================
   FOOTER
========================= */

footer{
    background-color: var(--verdeMusgo);
    margin-top: 8rem;
    padding: 2rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}
footer h4{
    color: white;
    justify-content: space-between;
    font-size: 18px;
}

.caixa{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer p{
    color: white;
    display: flex;
    justify-content: flex-start;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    transition: 0.3s;
    text-decoration: underline;
}

.direitosReservados{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

footer .textoDireitos{
    color: white;
    font-size: 18px;
}

.direitosReservados img{
    height: 8rem;
    width: auto;
}

/* =========================
   CARDS (INDEX.HTML)
========================= */

.catalogo .descricao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin: 3rem;
    font-size: 40px;
}
.containerCards{
    display: flex;
    gap: 2%;
    justify-content: center;
    background-color: var(--cinzaGelo);
}
.containerCards .textos{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}
.containerCards .plantas .nomeP{
    color: var(--verdeMusgo);
}
.containerCards .plantas .nomeC{
    color: var(--verdeOliva);
}
.containerCards .AreaPlantas{
    width: 80%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}
.cards, .cards1{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}
.containerCards .plantas{
    border-radius: 1rem 1rem;
    background-color:var(--verdeAcinzentado) ;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 30%;
    overflow: hidden;
    transition: box-shadow 0.5s, transform 0.5s;
}
.containerCards .plantas:hover{
    box-shadow: 0 25px 25px rgba(0,0,0, 0.3);
    transform: scale(105%);
}
.containerCards .quadroImg{
    width: 100%;
    aspect-ratio: 1/0.7;
    display: block;
    overflow: hidden;
}
.containerCards .quadroImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.containerCards .catalogo{
    width: 100%;
    text-align: center;
}

/* =========================
   CARDS (CATALOGO.HTML)
========================= */

.menuCatalogo .containerCatalogo{
    display: flex;
    width: 80%;
    justify-content: center;
}

.menuCatalogo {
    display: flex;
    flex-direction: row;
}

.containerCatalogo .textosCatalogo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.containerCatalogo .catalogoPlantas .nomePlanta{
    color: var(--verdeMusgo);
}

.containerCatalogo .catalogoPlantas .nomeCientifico{
    color: var(--verdeOliva);
}

.menuCatalogo .containerCatalogo .areaPlantas{
    width: 80%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}
.cardsCatalogo, .cardsCatalogo1{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
}

.containerCatalogo .catalogoPlantas{
    border-radius: 1rem 1rem;
    background-color:var(--verdeAcinzentado) ;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 30%;
    overflow: hidden;
    transition: box-shadow 0.5s, transform 0.5s;
}
.containerCatalogo .catalogoPlantas:hover{
    box-shadow: 0 25px 25px rgba(0,0,0, 0.3);
    transform: scale(105%);
}
.containerCatalogo .quadroImgCatalogo{
    width: 100%;
    aspect-ratio: 1/0.7;
    display: block;
    overflow: hidden;
}
.containerCatalogo .quadroImgCatalogo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =========================
   FILTRO
========================= */

.menuCategorias{
    border: 1px solid var(--verdeMusgo);
    width: 250px;
    min-width: 250px;
}

.menuCategorias h2{
    padding: 2rem;
}

.listaFiltros{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.1rem;
}

.menuCategorias .listaFiltros button{
    border: none;
    width: 5.5rem;
    border-bottom: 1px solid black;
    background-color: transparent;
    text-align: left;
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    transition: background-color 0.5s, border-bottom 0.5s;
}

.listaFiltros button:hover{
    background-color: var(--verdeAcinzentado);
    border-bottom: 1px solid var(--cinzaGelo);
}

/* =========================
   PARTE CIENTIFICA
========================= */

.cientifico {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
}

.cientifico .imagemCientifica {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.2rem;
    width: 18rem;
    min-width: 18rem;
    height: auto;
    flex-shrink: 0;
}

.cientifico .imagemCientifica img{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.cientifico .imagemCientifica .legendaImagem {
    font-size: 0.85rem;
    color: #475569;
    font-style: italic;
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 0;
}

.cientifico .textoCientifico {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    flex: 1;
}

.cientifico .textoCientifico h2 {
    padding: 1.5rem 0;
    margin-top: 0;
    margin-bottom: 0.8rem;
}

.cientifico .textoCientifico h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.cientifico .textoCientifico p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.cientifico .textoCientifico ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 0.1rem;
}

.cientifico .textoCientifico li {
    margin-bottom: 0.4rem;
}

.cientifico .imagemCientifica .categoriasPlanta {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    gap: 1rem;
    height: 100%;
}

.categoriasPlanta .categoriaItem {
    height: 100%;
    margin: auto;
    display: block;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: default;
    border: 0.2rem solid var(--verdeMusgo);
    background-color: var(--verdeNevoa);
    border-radius: 20px;
}

.imagemCientifica .voltar button{
    background-color: var(--verdeMusgo);
    height: 2rem;
    width: 7rem;
    color: var(--cinzaGelo);
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.imagemCientifica .voltar button:hover{
    transform: scale(1.05);
    box-shadow:0 10px 10px rgba(0,0,0, 0.3) ;
}

/* =========================
   INSTAGRAM
========================= */

.container-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
    margin: 10px auto;
    padding: 1rem 20px;
    box-sizing: border-box;
    background-color: var(--cinzaGelo);
}

.comunidade{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/* ========================= 
   TUTORIAL 
========================= */ 

.inicioTutorial{  
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 3rem; 
    font-size: 58px; 
}

/* ========================= 
   GRÁFICO 
========================= */ 
 
.grafico{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3rem 0;
    padding: 0 1rem;
}

.imgGrafico{
    width: 100%;
    max-width: 900px;
    height: auto;
}

/* ========================= 
    EXPLICAÇÃO GRÁFICO 
========================= */ 

.H1{ 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    gap: 0.5rem; 
    align-items: center; 
    margin: 3rem; 
    font-size: 58px; 
} 

.conteudo-tutorial{
    max-width: 1200px;
    margin: 0 auto;
}

.conteudo-tutorial h2{
    margin: 2rem 3rem 1rem;
    color: var(--verdeMusgo);
}

.textoExplicacao{
    padding: 0 3rem;
    text-align: justify;
    line-height: 1.8rem;
}

.lista-tutorial{
    margin: 1rem 4rem;
    line-height: 2rem;
}

.finalTutorial{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagemFinal{ 
    margin: 0; 
    width: 30rem; 
    height: 35rem; 
    overflow: hidden; 
} 

.imagemFinal img{ 
    width: 30rem; 
    height: rem; 
}

/* ========================= 
  TELA COMPARTILHE 
========================= */ 

.telaCompartilhe{
    padding: 1rem 3rem;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} 

.telaCompartilhe .textoM{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 1.5rem; 
    position: relative; 
    left: 0.5rem; 
    font-size:xx-large; 
} 

/* ========================= 
    IMAGENS TELA COMPARTILHE 
========================= */ 

.imgsCompartilhe .perPlantador{
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* ========================= 
    GALERIAS 
========================= */ 

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    padding: 2rem;
    background-color: var(--cinzaGelo);
}

.galeria img{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 1rem;
    flex-shrink: 0;
    transition: box-shadow 0.5s, transform 0.5s;
}

.galeria img:hover{
    transform: scale(1.05);
}

/* =========================
   MIDIA (RESPONSIVIDADE)
========================= */

/* 1. Telas Grandes/Médias (Notebooks e Monitores menores que 1500px) */
@media screen and (max-width: 1500px) {
    footer .direitosReservados {
        /* Arrumar */
        left: 65%;
        position: static;
    }
}

/* Tablets e Telas Médias (Até 980px) */
@media screen and (max-width: 980px) {
    .containerCards {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .containerCards .AreaPlantas,
    .areaPlantas {
        width: 100%;
    }

    .cardsCatalogo,
    .cardsCatalogo1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

    .containerCatalogo .catalogoPlantas{
    width: calc(50% - 1rem);
    max-width: 300px;
}

    .cards,
    .cards1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .containerCards .plantas{
        width: calc(50% - 1rem);
    }

    .cientifico {
        flex-direction: column;
        align-items: center;
    }
    
    .cientifico .textoCientifico {
        padding-left: 0;
        margin-top: 2rem;
    }

    .inicioReceita, .inicioPostagens, .inicioSobreNos {
        font-size: 38px;
        margin: 2rem 1rem;
    }

    footer {
        flex-direction: column;
        height: auto;
        gap: 2rem;
        padding: 2rem;
        align-items: center;
        text-align: center;
    }

    footer .direitosReservados {
        position: static;
        transform: none;
        margin-top: 2rem;
    }

    footer img {
        position: static;
        transform: none;
        margin: 1rem auto;
    }

    .imagemM {
        display: none;
    }

    .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
    background-color: var(--cinzaGelo);
    }
    
    .DescubraR{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
    gap: 1rem;
}

    .receitas{
    font-size: 4rem;
    text-align: center;
}

    .texto{
    max-width: 100%;
    margin-right: 0;
}

    .texto p{
    text-align: center;
}


    .trioIMG{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

    .img1,
    .img2,
    .img3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .img1 img,
    .img2 img,
    .img3 img{
    width: 70%;
    max-width: 250px;
    height: auto;
}

    .botaoR{
    width: 90%;
    max-width: 350px;
    font-size: 1rem;
}

    .Instagram img{
    width: 70%;
    max-width: 500px;
    height: auto;
    }

    .telaCompartilhe{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    }

    .telaCompartilhe .textoM{
    align-items: center;
    max-width: 90%;
    }

    .imgsCompartilhe{
    position: static;
    right: auto;
    width: 22rem;
    border-width: 4rem;
    }

    .perPlantador{
    width: 100%;
    height: auto;
    }

    .menuCatalogo{
    flex-direction: column;
    align-items: center;
}

    .menuCategorias{
    width: 100%;
    margin-bottom: 2rem;
}

    .listaFiltros{
    flex-direction: row;;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

    .listaFiltros li{
    margin: 0;
    padding: 0.5rem;
}

    .menuCategorias .listaFiltros button{
    width: auto;
    border-bottom: 1px solid black;
}

    .containerCatalogo{
    width: 100%;
}

    .cientifico{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

    .imagemCientifica{
    width: 100%;
    max-width: 320px;
}

    .textoCientifico{
    width: 100%;
}

    .imagemCientifica .voltar{
    display: flex;
    justify-content: center;
}

    .finalTutorial{
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
}

    .imagemFinal{
    display: none;
}

    .inicioTutorial{
    font-size: 3rem;
    margin: 2rem 1rem;
    text-align: center;
}

}

/* Celulares (Até 550px) */
@media screen and (max-width: 550px) {
    .barraPesquisa input {
        width: 90%;
    }

    .containerCards .plantas, 
     .catalogoPlantas {
        width: 75%;
        max-width: 280px;
    }

    .cards,
    .cards1{
        grid-template-columns: 1fr;
        width: auto;
    }

    .inicioReceita, .inicioPostagens, .inicioSobreNos {
        font-size: 28px;
    }

    nav {
        font-size: 14px;
        gap: 0.3rem;
    }

    .DescubraR{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
    gap: 1rem;
}

    .receitas{
    font-size: 4rem;
    text-align: center;
}

    .texto{
    max-width: 100%;
    margin-right: 0;
}

    .texto p{
    text-align: center;
}

    .trioIMG{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

    .img1,
    .img2,
    .img3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .img1 img,
    .img2 img,
    .img3 img{
    width: 70%;
    max-width: 250px;
    height: auto;
}

    .botaoR{
    width: 90%;
    max-width: 350px;
    font-size: 1rem;
}

    .Instagram{
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

    .Instagram img{
    width: 95%;
    max-width: 400px;
    height: auto;

}

    .telaCompartilhe{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
}

    .telaCompartilhe .textoM{
    max-width: 100%;
    align-items: center;
    left: 0;
}

    .telaCompartilhe .textoM h1{
    font-size: 2.5rem;
}

    .descricaoCompartilhe{
    text-align: center;
}

    .imgsCompartilhe{
    display: none;
}

    .botaoSAIBAMAIS{
    width: 90%;
    max-width: 300px;
}

    .galeria{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

    .galeria img{
    width: 90%;
    max-width: 300px;
    height: auto;
}

    .span{
    width: 90%;
    max-width: 320px;
    margin: 2rem auto;
}

    .jardimM{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0;
    padding: 1rem;
}

    .textoM{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .textoM h1{
    font-size: 2.2rem;
    line-height: 1.2;
    text-align: center;
}

    .textoM p{
    font-size: 1rem;
    text-align: center;
    max-width: 90%;
    line-height: 1.6;
}

    .botaoS{
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
}

    .imagemM{
    display: none;
}

    .contato{
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
}

    .profissional{
    margin: 0;
    width: 8rem;
}

    .conteudo{
    align-items: center;
}

    .conteudo h3{
    font-size: 1rem;
    word-break: break-word;
}

    .conteudo h4{
    font-size: 0.9rem;
    word-break: break-word;
}

    .cardsCatalogo,
    .cardsCatalogo1{
    flex-direction: column;
    align-items: center;
}

    .containerCatalogo .catalogoPlantas{
    width: 80%;
    max-width: 320px;
}

    .imagemCientifica{
    width: 100%;
    max-width: 280px;
}

    .textoCientifico{
    width: 100%;
    padding: 0 1rem;
}

    .textoCientifico h2,
    .textoCientifico h3{
    text-align: center;
}

    .imagemCientifica .voltar{
    display: flex;
    justify-content: center;
}

    .inicioTutorial{
    font-size: 2rem;
    margin: 2rem 1rem;
    text-align: center;
}

    .conteudo-tutorial h2{
    margin: 2rem 1rem 1rem;
    text-align: center;
}

    .textoExplicacao{
    padding: 0 1rem;
    text-align: center;
}

    .lista-tutorial{
    margin: 1rem 2rem;
}

    .finalTutorial{
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
}

    .imagemFinal{
    width: 15rem;
}

    .imagemFinal img{
    width: 100%;
    height: auto;
}


}