a{
    text-decoration: none;
}
.inicioReceita{
    display: flex;
    flex-direction: column;
}


.tituloReceita{
    font-size: 3rem;
}

 .receita{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
}


.fraseReceita{
    display: flex;
    align-items:center;
    width: 50%;
    margin: 0 auto;
    padding-top: 2rem;
    
} 

.fraseReceita p{
    font-size: 1.5rem;
    text-align:justify
}

.barraPesquisa{
    display:flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.barraPesquisa input{
    border-radius: 10px;
    border: solid 2px var(--verdeMusgo);
    background-color:var(--verdeAcinzentado);
    padding-left: 0.5rem;
    width: 45%;
    height: 2.5rem;
}
hr{
    border: none;
}
.grupoCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    margin-top:2rem;
    margin-bottom: 3rem;
}

.receitas{
    margin:1rem;
}
.card{
    text-align: center;
    padding: 2rem 0 2rem 0;
    border: 1px solid rgba(195, 195, 195, 0.3);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    transition:transform 0.3s;
}
.card:hover{
    transform: scale(1.1);
}
.card h3{
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.card ul{
    display: flex;
    flex-direction: column;
    gap:7px;
}
.card li{
   list-style-type: none; 
   
}
.card li a{
    color: black;
    transition: color 0.2s;
}
.card li a:hover{
    color: var(--verdeOlivaPadrao);
}

.curiosidade{
    background-color: var(--verdeAcinzentado);
    height: 12rem;
    width: 50%;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    
}
.curiosidade h1{
    color: var(--verdeMusgo);
    padding-top: 1.3rem;
    padding-left: 1.3rem;
    align-self: start;
}

.Tcuriosidade{
    display: flex;
    align-self: start;
    width: 50%;
    margin: 0 auto;
}

.Tcuriosidade p{
    font-size: 20px;
    text-align: justify;
}