.borda{
  margin: 2rem 15rem ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.containerCientifico{
    display: flex;
    flex-direction:column;
    padding: 0 20rem;
}

.containerCientifico h1{
  color: var(--verdeMusgo);
}

.comeco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 10rem;
    font-size: 22px;
    border-bottom: 1px solid var(--verdeOliva);
}

.nomeC{
    font-size: 15px;
    font-style: italic;
}

.imgCientifico{
    background-color: var(--cinzaGelo);
    margin: 3rem;
    border-radius: 2rem;
    height: 20rem;
}

.informacoes{
    display: flex;
    margin: 2rem 3rem 0 6rem;
}

.categoriasPlantas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 5rem;
}


.categoriaItem{
    border: 2px solid var(--verdeMusgo);
    border-radius: 2rem;
    padding: 0.5rem;
    width: 15rem;
    text-align: center;
    background-color: rgba(171, 219, 188, 0.2);
    color: var(--verdeMusgo);
    opacity: 0;
    transform: translateX(-50px);
    animation: aparecer 0.6s ease forwards
}

.categoriaItem:nth-child(2){
    animation-delay: 0.2s;
}

.categoriaItem:nth-child(3) {
  animation-delay: 0.6s;
}

.categoriaItem:nth-child(4) {
  animation-delay: 1s;
}

.categoriaItem:nth-child(5) {
  animation-delay: 1.4s;
}

.categoriaItem:nth-child(6) {
  animation-delay: 1.8s;
}

.categoriaItem::before {
    content: "✓";
    font-weight: bold;
    margin-right: 5px;
}

.blocoC{
    padding: 5rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.blocoT{
    background-color: var(--cinzaGelo);
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 1px solid var(--verdeOliva);
    border-radius: 0.5rem;
    align-items: center;
}

.blocoT h2 , .blocoA h2 , .blocoC h1{
  color: var(--verdeMusgo);
}

.blocoA{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2rem;
    border-bottom: 1px solid var(--verdeOliva);
}


.estudos{
    color: black;
}

.topicos{
    display: flex;
    flex-direction: column;
    text-align: left;
    text-decoration: dotted;
    gap: 0.5rem;
}


@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}