/* =========================
   ROOT / CORES
========================= */

:root {
  /* Tom Principal & Destaque */
  --verdeMusgo: #375a44;              
  --verdeHover: #2c4936;               
  --verdeOliva: #677766;               

  /* Tons de Verde Claros & Suaves */
  --verdeMenta: #abdbbc;               
  --verdeNevoa: #e2eee5;               
  --verdeAcinzentado: #c1ccc0;         

  /* Neutros & Cinzas */
  --cinzaFundo: #fafafa;
  --cinzaGelo: #ebebeb;                
  --cinzaNeutro: #c3c3c3;              
  --cinzaBorda: #c1ccc0;               

  /* Tons de Terra & Terrosos */
  --begeAreia: #d6c4a8;                
  --terracota: #b57557;                

  /* Textos & Sombras */
  --textoPrincipal: #2d3732;
  --textoSecundario: #5c6660;
  --sombraCard: 0 4px 20px rgba(0, 0, 0, 0.05);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* =========================
   SPANS
========================= */

.infoSpans{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.infoSpan{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    transition: transform 0.3s;
}

.infoSpan:hover{
    transform: translateY(-3px);
    box-shadow: none;
}

.iconeSpan{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--verdeNevoa);
    color: var(--verdeMusgo);
    font-size: 1.2rem;
}

.textoSpan{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textoSpan b{
    font-size: 1.2rem;
    color: black;
}

.textoSpan span{
    font-size: 0.85rem;
    color: black;
}

/* =========================
   LOGO
========================= */

.logo{
    display: flex;
    background-color: var(--cinzaGelo);
    height: 7rem;
    justify-content: center;
    align-items: center;
}

.logo img{
    max-width: 100%;
    height: 10rem;
}

/* =========================
   HEADER
========================= */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    height: 5rem;
    width: 100%;
    background-color: var(--verdeMusgo);
}

nav a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 17px;
}

nav a:hover{
    transition: 0.3s;
    color: var(--verdeMenta);
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.botaoMenu {
    border: none;
    background-color: transparent;
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.botaoMenu div {
    width: 1.8rem;
    height: 2px;
    background-color: white;
    transition: background 0.5s;
}

.botaoMenu:hover div {
    background-color: yellow;
}

.perfilMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--verdeMusgo);
}

.perfilMenu i {
    font-size: 2rem;
}

.perfilMenu:hover {
    color: var(--verdeOliva);
}

/* =========================
   RODAPÉ
========================= */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: auto;
    width: 100%;
    background-color: var(--verdeMusgo);
}

footer a{
    color: white;
    text-decoration: none;
    padding: 0 0 0.5rem 0;
}

footer a:hover{
    transition: 0.3s;
    text-decoration: underline;
}

footer .infoDivisao{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 0.5fr 0.2fr 0.2fr;
    justify-content: center;
    margin: 2rem;
}

.separacao{
    display: flex;
    flex-direction: column;
    margin: 1.2rem;
}

.separacao h3, h2{
    color: white;
    padding: 0 0 0.5rem 0;
}

.separacao p{
    color: white;
    text-align: left;
}

.separacao img{
    width: 10%;
    height: 5rem;
}

.contatos{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.direitosreservados{
    color: white;
    text-align: left;
    font-size: 14px;
}

/* =========================
   SEÇÃO PRINCIPAL
========================= */

.info{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    align-items: center;
    text-align: left;
    color: black;
    justify-content: space-between;
    margin-left: 2rem;
    padding: 2rem 25rem 0 25rem;
    background-color: white;

    background-image: radial-gradient(
        rgba(55, 90, 68, 0.12) 1px,
        transparent 1px
    );

    background-size: 22px 22px;
}

.infoTexto{
    font-size: 1.8rem;
    margin-top: 2rem;
    max-width: 50%;
    color: black;
}

.infoTexto p{
    font-size: 1rem;
    text-align: left;
    margin-top: 1rem;
}

.infoImagem{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.infoImagem img{
    width: 90%;
    height: auto;
}

.infoConjunto{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.3rem;
}

/* =========================
   BOTÕES
========================= */

.infoBotao{
    width: 10rem;
    color: black;
    border-radius: 10px;
    background-color: white;
    border: solid 1px var(--cinza-neutro);
    font-size: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.infoBotao:hover{
    transform: scale(1.05);
    box-shadow:0 10px 10px rgba(0,0,0, 0.3) ;
}

.verCatalogo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.botaoCatalogo{
    background-color: var(--verdeMusgo);
    height: 3.2rem;
    width: 23rem;
    color: var(--cinzaGelo);
    border-radius: 50px;
    border: none;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.botaoCatalogo:hover{
    transform: scale(1.05);
    box-shadow:0 10px 10px rgba(0,0,0, 0.3) ;
}

.receitasBotao{
    width: 10rem;
    color: black;
    border-radius: 10px;
    background-color: white;
    border: solid 1px var(--cinza-neutro);
    font-size: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.receitasBotao:hover{
    transform: scale(1.05);
    box-shadow:0 10px 10px rgba(0,0,0, 0.3) ;
}

/* =========================
   DIVISÕES
========================= */

.divisao1{
    background-color: var(--cinzaGelo);
    height: 4rem;
    width: 100%;
    border: none;
}

.divisao2{
    background-color: var(--verdeMusgo);
    height: 0.4rem;
    width: 100%;
    border: none;
}

.divisao3{
    background-color: var(--cinzaGelo);
    width: 100%; 
    padding: 0.1rem 2rem;       
    box-sizing: border-box;    
    border: none;
    height: auto;
}

.divisao4{
    border: none;
}

/* =========================
   CARDS - INDEX
========================= */

.containerCards {
    display: flex;
    justify-content: center;
    background-color: var(--cinzaGelo);
}

.containerCards .catalogoPrevia {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.catalogo .descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    font-size: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
}


.containerCards .plantasPrevia {
    width: 100%;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: box-shadow 0.5s, transform 0.5s;
}

.containerCards .quadroImg {
    width: 100%;
    aspect-ratio: 1 / 0.7;
    display: block;
    overflow: hidden;
}

.containerCards .quadroImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerCards .textosPrevia {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.containerCards .plantasPrevia .nomeP {
    color: var(--verdeMusgo);
    padding: 0.5rem 0 0 1rem;
}

.containerCards .plantasPrevia .nomeC {
    color: var(--verdeOliva);
    font-size: 16px;
    font-style: italic;
    padding: 0.5rem 0 1.5rem 1rem;
}

.containerCards .plantasPrevia:hover {
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

/* =========================
   RECEITAS - INDEX
========================= */

.descubraTitulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem;
    gap: 3rem;
}

.receitasPrevia {
    text-align: start;
    font-size: 3rem;
    max-width: 30%;
    margin-right: 0;
    color: black;
}

.textoReceita {
    text-align: end;
    max-width: 30%;
    margin-right: 0;
}

.textoReceita p {
    text-align: justify;
    line-height: 1.5;
    font-size: 18px;
}

.trioImagem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0 0 5rem 0;
}

.img1,
.img2,
.img3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img1 img,
.img2 img,
.img3 img {
    max-width: 250px;
    height: auto;
}

.textoTrio1,
.textoTrio2,
.textoTrio3 {
    color: var(--verdeMusgo);
    font-size: 2rem;
    text-align: center;
    margin-top: 0.5rem;
}

/* =========================
   POSTAGENS - INDEX
========================= */

.containerPostagens {
    display: flex;
    justify-content: center;
    background-color: var(--cinzaGelo);
    padding: 4rem;
}

.postagensTexto{
    font-size: 1.5rem;
    margin-top: 2rem;
    color: black;
}

.postagensTexto p{
    font-size: 16px;
    margin-top: 1rem;
}

/* =========================
   RESPONSIVIDADE
========================= */


/* =========================
   TELAS ATÉ 1550px
========================= */

@media (max-width: 1550px){

.info{
    padding: 2rem 12rem 0 12rem;
}

.infoTexto{
    max-width: 50%;
    font-size: 1.7rem;
}

.infoImagem img{
   width: 90%;
}

.containerCards .catalogoPrevia{
    width: 85%;
}

.descubraTitulo{
        padding: 4rem 8rem;
    }
}

/* =========================
   TELAS ATÉ 1200px
========================= */

@media (max-width: 1200px){

.info{
    padding: 2rem 6rem 0 6rem;
    gap: 2rem;
}

.infoTexto{
    max-width: 50%;
    font-size: 1.5rem;
}

.infoImagem img{
    width: 100%;
}

.cards{
    gap: 1.5rem;
}

.containerCards .catalogoPrevia{
    width: 90%;
}

.descubraTitulo{
    padding: 4rem 5rem;
    gap: 2rem;
}

.receitasPrevia{
    max-width: 35%;
    font-size: 2.5rem;
}

.textoReceita{
    max-width: 50%;
}

.trioImagem{
    gap: 1rem;
}

.img1 img,
.img2 img,
.img3 img{
    max-width: 220px;
}

footer .infoDivisao{
    grid-template-columns: 0.8fr 0.5fr 0.5fr;
}
}

/* =========================
   TELAS ATÉ 1000px
========================= */

@media (max-width: 1000px){

nav a {
    display: none;
}

.botaoMenu {
    display: flex;
}

.logo{
    height: 6rem;
}

.logo img{
    height: 8rem;
}

nav{
    gap: 1rem;
}

.info{
    padding: 2rem 3rem 0 3rem;
}

.infoTexto{
    font-size: 1.4rem;
}

.infoTexto p{
    font-size: 0.95rem;
}

.infoSpan{
    width: 70%;
}

.cards{
    grid-template-columns: repeat(2, 1fr);
}

.descubraTitulo{
    padding: 3rem;
}

.receitasPrevia{
    font-size: 2.2rem;
}

.textoReceita p{
    font-size: 16px;
}

.img1 img,
.img2 img,
.img3 img{
    max-width: 190px;
}

footer .infoDivisao{
    grid-template-columns: 1fr 1fr;
}
}

/* =========================
   TELAS ATÉ 760px
========================= */

@media (max-width: 760px){

/* LOGO */
.logo{
    height: 5.5rem;
}

.logo img{
    height: 7rem;
    max-width: 90%;
    object-fit: contain;
}

/* MENU */
nav{
    height: auto;
    min-height: 4rem;
    padding: 1rem;
    gap: 0.8rem;
    flex-wrap: wrap;
}

nav a{
    font-size: 0.95rem;
}

/* INFORMAÇÕES */
.info{
    flex-direction: column;
    padding: 2rem 2rem;
    margin-left: 0;
    gap: 2rem;
    text-align: center;
}

.infoTexto{
    max-width: 100%;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.infoTexto p{
    text-align: justify;
    font-size: 1rem;
}

.infoImagem{
    width: 100%;
    justify-content: center;
}

.infoImagem img{
    width: 90%;
    max-width: 500px;
}

/* INFO SPAN */

.infoSpan{
    width: 90%;
    height: auto;
    min-height: 3.2rem;
    padding: 0.5rem;
}

.infoSpan img{
    height: 3.5rem;
}

/* CONJUNTO */
.infoConjunto{
    justify-content: center;
    flex-wrap: wrap;
}

/* CARDS */
.containerCards{
    padding: 1rem 0;
}

.containerCards .catalogoPrevia{
    width: 90%;
}

.cards{
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.containerCards .plantasPrevia:hover{
    transform: scale(1.02);
}

/* TÍTULO CATÁLOGO */
.catalogo .descricao{
    margin: 2rem 1rem;
    font-size: 2.2rem;
    text-align: center;
}

/* RECEITAS */

.descubraTitulo{
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    gap: 2rem;
}

.receitasPrevia{
    max-width: 100%;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
}

.textoReceita{
    max-width: 100%;
    width: 100%;
}

.textoReceita p{
    text-align: justify;
    font-size: 16px;
}

/* TRIO DE IMAGENS */
.trioImagem{
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding-bottom: 3rem;
}

.img1 img,
.img2 img,
.img3 img{
    max-width: 220px;
}

/* POSTAGENS */
.containerPostagens{
    padding: 3rem 2rem;
}

.postagensTexto{
    font-size: 1.4rem;
    text-align: center;
}

.postagensTexto p{
    text-align: justify;
}

/* FOOTER */
footer .infoDivisao{
    grid-template-columns: 1fr;
    margin: 1.5rem;
}

.separacao{
    align-items: center;
    text-align: center;
}

.separacao h3,
.separacao h2{
    text-align: center;
}

.separacao p{
    text-align: center;
}

.separacao img{
    width: 20%;
    height: auto;
}

.direitosreservados{
text-align: center;
}
}

/* =========================
   TELAS ATÉ 480px
========================= */

@media (max-width: 480px){

/* LOGO */
.logo{
    height: 5rem;
}

.logo img{
    height: 6.5rem;
}

/* MENU */
nav{
    flex-direction: column;
    padding: 1rem;
    gap: 0.7rem;
}

nav a{
    font-size: 0.9rem;
}

/* INFORMAÇÕES */
.info{
    padding: 1.5rem 1rem;
    gap: 1.5rem;
}

.infoTexto{
    font-size: 1.3rem;
}

.infoTexto p{
    font-size: 15px;
}

/* SPAN */
.infoSpan{
    width: 95%;
    font-size: 0.9rem;
}

.infoSpan img{
    height: 3rem;
}

/* BOTÕES */
.infoBotao,
.receitasBotao{
    width: 8.5rem;
    padding: 0.8rem;
}

.botaoCatalogo{
    width: 90%;
    font-size: 1rem;
}

/* CARDS */
.containerCards .catalogoPrevia{
    width: 94%;
}

.containerCards .plantasPrevia:hover{
    transform: none;
}

.catalogo .descricao{
    font-size: 1.8rem;
}

/* RECEITAS */
.descubraTitulo{
    padding: 2.5rem 1rem;
}

.receitasPrevia{
    font-size: 1.8rem;
}

.textoReceita p{
    font-size: 15px;
}

/* IMAGENS */
.img1 img,
.img2 img,
.img3 img{
    max-width: 180px;
}

.textoTrio1,
.textoTrio2,
.textoTrio3{
    font-size: 1.3rem;
}

/* POSTAGENS */
.containerPostagens{
    padding: 2rem 1rem;
}

.postagensTexto{
    font-size: 1.2rem;
}


/* FOOTER */
footer .infoDivisao{
    margin: 1rem;
}

.separacao{
    margin: 0.8rem;
}

.separacao img{
    width: 30%;
}
}