/* =========================
   ROOT / CORES
========================= */

:root{
    --verdeMusgo: rgb(55, 90, 68); 
    --verdeMenta: rgb(171, 219, 188); 
    --verdeAcinzentado: rgb(193, 204, 192); 
    --verdeOliva: rgb(103, 119, 102);
    --verdeOlivaAcinzentado: rgb(103, 119, 102);
    --verdeNevoa: rgb(226, 238, 229);
    --cinzaGelo: rgb(235, 235, 235);
    --cinza-neutro: rgb(195, 195, 195);
    --begeAreia: rgb(214, 196, 168);
    --terracota: rgb(181, 117, 87);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.App {
  
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* =========================
   SPAN
========================= */

/* 

.spanInicio{
    display: flex;
    align-items: center;
    background-color: var(--verdeAcinzentado);
    padding: 5px;
    color: var(--verdeOliva);
    border: 2px solid var(--verdeOliva);
    border-radius: 50px;
    height: 3rem;
    width: 20rem;
    margin-top: 5rem;
    margin-left: 28rem;
}

.spanInicio img{
    height: 4rem;
} 

*/

.infoSpan{
    display: flex;
    align-items: center;
    background-color: var(--verdeAcinzentado);
    color: var(--verdeOliva);
    border: 2px solid var(--verdeOliva);
    height: 3.2rem;
    width: 60%;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.infoSpan:hover{
    transform: scale(1.05);
    box-shadow:0 10px 10px rgba(0,0,0, 0.3) ;
}

.infoSpan b{
    cursor: default;
}

.infoSpan img{
    height: 4rem;
}

/* =========================
   LOGO
========================= */

.logo{
    display: flex;
    background-color: var(--cinzaGelo);
    height: 7rem;
    justify-content: center;
    align-items: center;
}

.logo img{
    max-width: 100%;
    height: 10rem;
}

/* =========================
   TAGS GERAIS
========================= */

p{
    font-size: 16px;
    text-align: center;
}

/* =========================
   HEADER
========================= */

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 4rem;
    width: 100%;
    background-color: var(--verdeMusgo);
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    transition: 0.3s;
    text-decoration: underline;
    color: var(--verdeMenta);
}

/* =========================
   SEÇÃO PRINCIPAL
========================= */

.info{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    align-items: center;
    text-align: left;
    color: black;
    justify-content: space-between;
    margin-left: 2rem;
    padding: 2rem 25rem 0 25rem;
}

.infoTexto{
    font-size: 1.8rem;
    margin-top: 2rem;
    max-width: 50%;
    color: black;
}

.infoTexto p{
    font-size: 1rem;
    text-align: left;
    margin-top: 1rem;
}

.infoImagem{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.infoImagem img{
    width: 90%;
    height: auto;
}

.infoConjunto{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.3rem;
}

/* =========================
   BOTÕES
========================= */

.infoBotao{
    width: 10rem;
    color: black;
    border-radius: 10px;
    background-color: white;
    border: solid 1px var(--cinza-neutro);
    font-size: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}
.infoBotao:hover{
    transform: scale(1.05);
    box-shadow:0 10px 10px rgba(0,0,0, 0.3) ;
}

.verCatalogo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.botaoCatalogo{
    background-color: var(--verdeMusgo);
    height: 3.2rem;
    width: 23rem;
    color: var(--cinzaGelo);
    border-radius: 50px;
    border: none;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.botaoCatalogo:hover{
    transform: scale(1.05);
    box-shadow:0 10px 10px rgba(0,0,0, 0.3) ;
}

/* =========================
   DIVISÕES
========================= */

.divisao1{
    background-color: var(--cinzaGelo);
    height: 4rem;
    width: 100%;
    border: none;
}

.divisao2{
    background-color: var(--verdeMusgo);
    height: 0.4rem;
    width: 100%;
    border: none;
}

.divisao3{
    background-color: var(--cinzaGelo);
    width: 100%; 
    padding: 0.1rem 2rem;       
    box-sizing: border-box;    
    border: none;
    height: auto;
}

.divisao4{
    border: none;
}

/* =========================
   CARDS - INDEX
========================= */

.containerCards {
    display: flex;
    justify-content: center;
    background-color: var(--cinzaGelo);
}

.containerCards .catalogoPrevia {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.catalogo .descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    font-size: 40px;
}


/* =========================
   GRID DOS CARDS
========================= */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
}


/* =========================
   CARDS
========================= */

.containerCards .plantasPrevia {
    width: 100%;
    border-radius: 1rem;
    background-color: var(--verdeAcinzentado);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: box-shadow 0.5s, transform 0.5s;
}


/* =========================
   IMAGEM
========================= */

.containerCards .quadroImg {
    width: 100%;
    aspect-ratio: 1 / 0.7;
    display: block;
    overflow: hidden;
}

.containerCards .quadroImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* =========================
   TEXTOS
========================= */

.containerCards .textosPrevia {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.8rem;
}

.containerCards .plantasPrevia .nomeP {
    color: var(--verdeMusgo);
}

.containerCards .plantasPrevia .nomeC {
    color: var(--verdeOliva);
}


/* =========================
   HOVER
========================= */

.containerCards .plantasPrevia:hover {
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}